header{
	background: #01474a;
}

.admin-wrapper{
    /* display them in row format */
    display:flex;
    height:calc(100% - 66px);
    
}
/* telling that left sidebar occupies 2 out of 10 horizontally */
.admin-wrapper .left-sidebar{
flex:2;
height: auto;
background: #234a57;
}

.admin-wrapper .left-sidebar ul{
list-style: none;
margin: 0px;
padding: 0px;
color:aliceblue;
}

.admin-wrapper .left-sidebar ul li a{
    padding:18px;
    display:block;
    border-bottom: 1px solid #004044;
}

.admin-wrapper .left-sidebar ul li a:hover{
    background: #004044;
}

.admin-wrapper .admin-content{
    flex:8;
    height:100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
}

.admin-content .page-title{
    text-align: center;
    margin-bottom: 1.5rem;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}
th,td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}

.edit{
    color:green;
}
.delete{
    color:red;
}
.publish{
    color:blue;
}
.edit:hover,
.delete:hover,
.publish:hover{
    text-decoration: underline;
}   
/* @media only screen and (max-width: 770px){

    .admin-wrapper .admin-content{
        width: 100%;
    }
    .admin-wrapper .admin-content .btn-big{
        position: static;
        width: 100%;
        display: block; 
        margin: 10px;
        text-align: center;
    }
    .admin-wrapper .admin-content .content{
        width: 100%;
    }
} */